#installments{
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.live-search-list #installments {
    display: none !important;
}

.single-product #installments{
    font-size: 1em;
}

#installments svg {
    margin-right: 5px;
}

#installments .intallments-product {
    color: #0aa60a;
}

#installments img {
    width: 45px !important;
    display: inline-flex;
}

.woocommerce-variation-price #installments {
    display: none;
}

.bundled_product_optional_checkbox #installments {
    display: none;
}

.cc-installments-divider, .pix-installments-divider{
    margin-left: 5px;
    margin-right: 5px;
}